<p class="center">Automatically configure various mods.</p>
<p class="bold center">Requires OpenMW 0.48 or newer!</p>
<p>This mod will, at game startup, set various settings across several mods to values that I’ve found to work well after a bit of playtesting.</p>
<p>This mod can be disabled to stop the changes or re-enabled to resume them at any time.</p>
<h4 id="install">Installation:</h4>
<ol>
    <li>
     <p>
      Download the mod from <a href="https://modding-openmw.gitlab.io/poti-gameplay-config/">this URL</a>
     </p>
    </li>
    <li>
     <p>
      Extract the zip to a location of your choosing, examples below:
     </p>
     <pre><code> # Windows
 C:\games\OpenMWMods\Settings\poti-gameplay-config

 # Linux
 /home/username/games/OpenMWMods/Settings/poti-gameplay-config

 # macOS
 /Users/username/games/OpenMWMods/Settings/poti-gameplay-config
</code></pre>
    </li>
    <li>
     <p>
      Add the appropriate data path to your <code>opemw.cfg</code> file (e.g. <code>data="C:\games\OpenMWMods\Settings\poti-gameplay-config"</code>)
     </p>
    </li>
    <li>
     <p>
      Add <code>content=poti-gameplay-config.omwscripts</code> to your load order in <code>openmw.cfg</code> or enable it via OpenMW-Launcher
     </p>
    </li>
    <li>
     <p>
      Each time you run OpenMW, the following will be set if the related mod is active:
     </p>
     <ul>
      <li>
       Always run (OpenMW builtin): <strong>Yes</strong>
      </li>
      <li>
       Toggle sneak (OpenMW builtin): <strong>Yes</strong>
      </li>
      <li>
       Show messages (<a href="https://modding-openmw.gitlab.io/action-camera-swap/">Action Camera Swap</a>): <strong>No</strong>
      </li>
      <li>
       Progress Menu Key (<a href="https://www.nexusmods.com/morrowind/mods/53064">MBSP Uncapped (OpenMW Lua) - NCGD Compat</a>): <strong>B</strong>
      </li>
      <li>
       Show Intro Message (<a href="https://modding-openmw.gitlab.io/ncgdmw-lua/">NCGDMW Lua Edition</a>): <strong>No</strong>
      </li>
      <li>
       Stats Menu Key (<a href="https://modding-openmw.gitlab.io/ncgdmw-lua/">NCGDMW Lua Edition</a>): <strong>N</strong>
      </li>
      <li>
       Show messages (<a href="https://modding-openmw.gitlab.io/smart-ammo/">Smart Ammo</a>): <strong>No</strong>
      </li>
      <li>
       Magic Shader Intensity (<a href="https://www.nexusmods.com/morrowind/mods/52221">Solthas Combat Pack (OpenMW Lua): Solthas Bodz Stat Shaders</a>): <strong>0.6</strong>
      </li>
      <li>
       Fatigue Multiplier (<a href="https://www.nexusmods.com/morrowind/mods/52221">Solthas Combat Pack (OpenMW Lua): Charge Attack Parry</a>): <strong>0.03</strong>
      </li>
      <li>
       Verbose (<a href="https://www.nexusmods.com/morrowind/mods/52221">Solthas Combat Pack (OpenMW Lua): Charge Attack Parry</a>): <strong>0</strong>
      </li>
      <li>
       Verbose (<a href="https://www.nexusmods.com/morrowind/mods/52221">Solthas Combat Pack (OpenMW Lua): Sneak Jump Dodge</a>): <strong>No</strong>
      </li>
      <li>
       Verbose (<a href="https://www.nexusmods.com/morrowind/mods/52221">Solthas Combat Pack (OpenMW Lua): Staff Spell Buffs</a>): <strong>No</strong>
      </li>
      <li>
       Verbose (<a href="https://www.nexusmods.com/morrowind/mods/52221">Solthas Combat Pack (OpenMW Lua): Swim Boost Drain</a>): <strong>No</strong>
      </li>
      <li>
       Verbose (<a href="https://www.nexusmods.com/morrowind/mods/52221">Solthas Combat Pack (OpenMW Lua): Timed Directional Attacks</a>): <strong>No</strong>
      </li>
      <li>
       Fatigue Multiplier (<a href="https://www.nexusmods.com/morrowind/mods/52221">Solthas Combat Pack (OpenMW Lua): Weighty Charge Attacks</a>): <strong>0.03</strong>
      </li>
      <li>
       Verbose (<a href="https://www.nexusmods.com/morrowind/mods/52221">Solthas Combat Pack (OpenMW Lua): Weighty Charge Attacks</a>): <strong>0</strong>
      </li>
      <li>
       Inventory Don’t Pause (<a href="https://modding-openmw.gitlab.io/ui-modes/">UiModes</a>): <strong>false</strong>
      </li>
      <li>
       Levels Per Mark (<a href="https://www.nexusmods.com/morrowind/mods/53260">Zack’s Lua Multimark Mod</a>): <strong>8</strong>
      </li>
      <li>
       Base Multiplier (<a href="https://www.nexusmods.com/morrowind/mods/52779">Pharis’ Magicka Regeneration</a>): <strong>0.06</strong>
      </li>
      <li>
       Gold Per Travel Distance Unit (<a href="https://modding-openmw.gitlab.io/signpost-fast-travel/">Signpost Fast Travel</a>): <strong>10</strong>
      </li>
      <li>
       Travel Menu Show Usage (<a href="https://modding-openmw.gitlab.io/signpost-fast-travel/">Signpost Fast Travel</a>): <strong>false</strong>
      </li>
      <li>
        Show Travel Messages (<a href="https://modding-openmw.gitlab.io/signpost-fast-travel/">Signpost Fast Travel</a>): <strong>false</strong>
      </li>
     </ul>
    </li>
</ol>
<p>
  In order to customize these settings you must disable this mod (it is safe to disable or re-enable at any time mid-save).
</p>
